@mixin button-border {
    text-align: center;
    border: 2px solid $violet;
    border-radius: 100px;
    padding: 10px 20px;
    width: $WidthButton;
    background-color: transparent;
    color: $violet;
}

@mixin button-color {
    text-align: center;
    border: 2px solid $violet;
    border-radius: 100px;
    padding: 10px 20px;
    width: $WidthButton;
    background-color: $violet;
    box-shadow: 0px 0px 30px 2px $color-shadow;
    color: $light;
    transition: .3s;
}

@mixin button_call-border {
    text-align: center;
    border: 2px solid $violet;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: transparent;
    color: $violet;
    width: $WidthButton;

    .icon-phone_border {
        visibility: visible;
        position: relative;
        width: 15px;
        margin-right: 10px;
    }

    .icon-phone_color {
        position: absolute;
        visibility: hidden;
        transform: translateX(-30px);
        width: 15px;
        margin-right: 10px;
    }

    &:hover {
        @include button-color;

        .icon-phone_color {
            visibility: visible;

        }

        .icon-phone_border {
            visibility: hidden;

        }
    }
}

@mixin button_call-color {
    text-align: center;
    position: relative;
    border: 2px solid $violet;
    border-radius: 100px;
    padding: 10px 20px;
    width: $WidthButton;
    background-color: $violet;
    box-shadow: 0px 0px 30px 2px $color-shadow;
    color: $light;
    transition: .3s;

    .icon-phone_border {
        visibility: hidden;
        position: relative;
        width: 15px;
        margin-right: 10px;
    }

    .icon-phone_color {
        position: absolute;
        visibility: visible;
        transform: translateX(-30px);
        width: 15px;
        margin-right: 10px;
    }

    &:hover {
        @include button-border;

        .icon-phone_color {
            visibility: hidden;

        }

        .icon-phone_border {
            visibility: visible;

        }

    }
}
