$light: rgb(225, 218, 211, 1);
$violet-light4: rgb(194, 180, 190, 0.4);
$violet-light: rgb(106, 89, 117, 1);
$violet: rgb(72, 27, 104, 1);
$violet-darck: rgb(56, 48, 59, 1);
$color-shadow: rgb(72, 27, 104, 0.7);

