@import "./colors";
$WBold: 600;
$Fzparagraph: 13pt;
$Opaciti: .5;
$FZsmoll: 11pt;
$WidthButton: 180px;
$HeadSmool: 16pt;
$slow-speed: .7s;
$fast-speed: .5s;

//Flex

%row {
    display: flex;
    flex-direction: row;
}

%column {
    display: flex;
    flex-direction: column;
}

//***********************************************


//Color-section

%violetSection {
    padding: 50px 0;
    background: $violet-darck;

    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p,
    li,
    ul {
        color: $light;
    }
}

//***********************************************

//style-button

%button-border {
    text-align: center;
    border: 2px solid $violet;
    border-radius: 100px;
    padding: 10px 20px;
    width: $WidthButton;
    background-color: transparent;
    color: $violet;
}

%button-color {
    text-align: center;
    border: 2px solid $violet;
    border-radius: 100px;
    padding: 10px 20px;
    width: $WidthButton;
    background-color: $violet;
    box-shadow: 0px 0px 30px 2px $color-shadow;
    color: $light;
    transition: .3s;
}

%button_call-border {
    text-align: center;
    border: 2px solid $violet;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: transparent;
    color: $violet;
    width: $WidthButton;

    .icon-phone_border {
        visibility: visible;
        position: relative;
        width: 15px;
        margin-right: 10px;
    }

    .icon-phone_color {
        position: absolute;
        visibility: hidden;
        transform: translateX(-30px);
        width: 15px;
        margin-right: 10px;
    }

    &:hover {
        @extend %button-color;

        .icon-phone_color {
            visibility: visible;

        }

        .icon-phone_border {
            visibility: hidden;

        }
    }
}

%button_call-color {
    text-align: center;
    position: relative;
    border: 2px solid $violet;
    border-radius: 100px;
    padding: 10px 20px;
    width: $WidthButton;
    background-color: $violet;
    box-shadow: 0px 0px 30px 2px $color-shadow;
    color: $light;
    transition: .3s;

    .icon-phone_border {
        visibility: hidden;
        position: relative;
        width: 15px;
        margin-right: 10px;
    }

    .icon-phone_color {
        position: absolute;
        visibility: visible;
        transform: translateX(-30px);
        width: 15px;
        margin-right: 10px;
    }

    &:hover {
        @extend %button-border;

        .icon-phone_color {
            visibility: hidden;

        }

        .icon-phone_border {
            visibility: visible;

        }

    }
}


.button_call-color {
    @extend %button_call-color;
    font-size: $Fzparagraph;

    @media (max-width: 1024px) {
        font-size: ($Fzparagraph - 3);
    }
}

.button_call-border {
    @extend %button_call-border;
    font-size: $Fzparagraph;

    @media (max-width: 1024px) {
        font-size: ($Fzparagraph - 3);
    }

}

//***********************************************

%headerDecorB {
    &::before {
        position: absolute;
        content: "";
        background: $violet-light4;
        width: 100%;
        height: 7px;
        transform: translateY(33px);
        z-index: -1;
    }
}

%headerDecorA {
    &::after {
        position: absolute;
        content: "";
        background: $violet-light4;
        width: 100%;
        height: 7px;
        transform: translateY(33px);
        left: 0;
        z-index: -1;
    }
}

.head {
    @extend %headerDecorB;
    @extend %headerDecorA;
    font-size: 26pt;
    display: inline;
    position: relative;
    z-index: 2;
    margin-right: 15px;
    max-width: 210px;
}

%head-small {
    font-weight: $WBold;
    font-size: $HeadSmool;
    padding-bottom: 15px;

    @media (max-width: 992px) {
        font-size: ($HeadSmool - 2);
    }

}

.head-small {
    @extend %head-small;
}

.header {
    padding: 20px 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;

    @media (max-width: 1400px) {
        margin: 0 50px;
    }

    @media (max-width: 768px) {
        margin: 0 15px;
    }
}

.paragraph {
    padding-bottom: 10px;
}
