
@import "./colors";
$WBold: 600;

%violetBlock {
    background: $violet-darck ;
        h2, h3, h4, h5, h6,a, p, li, ul{
            color: $light;
    }
}

%buttonBorder {
    border: 2px solid $violet;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: transparent;
    color: $violet;
}

%buttonColor {
    border: 2px solid $violet;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: $violet;
    box-shadow: 0px 0px 30px 2px $color-shadow;
    color: $light;
    transition: .3s;
}

%row {
    display: flex;
    flex-direction: row;
}

%column {
    display: flex;
    flex-direction: column;
}
%headerDecorB{
   &::before {
        position: absolute;
        top: 34px;
        content: "";
        background: $violet-light4;
        width: 100%;
        height: 9px;
        z-index: -1;
    }
}
%headerDecorA{
    &::after {
        position: absolute;
        left: 0;
        bottom: 23px;
        content: "";
        background: $violet-light4;
        width: 100%;
        height: 9px;
        z-index: -1;
    }
    }
  .head {
      @extend %headerDecorB;
        font-size: 26pt;
        display: inline;
        position: relative;
        z-index: 2;
        margin-right: 15px;
    }
%pBold{
    font-weight: $WBold;
    font-size: 16pt;
    padding-bottom: 15px;
}
%buttonCall{
    padding: 10px 40px;
    @extend %buttonColor;
    .button-call__img2{
             visibility: visible;

         }
     &:hover {
         @extend %buttonBorder;
         padding: 10px 40px;

         .button-call__img2{
             visibility: hidden;

         }

         .button-call__img1 {
             visibility: visible;

         }

     }
     }
.header {
    padding: 20px 0;
}

.container {
    max-width: 1920px;
    margin: 0 100px;
}
.paragraph {
        padding-bottom: 10px;
}
.button-call2{
    @extend %buttonCall;
}
.button-call {
        @extend %buttonBorder;
        &__img1{
            position: relative;
            width: 15px;
            margin-right: 10px;
        }
        &__img2{
            position: absolute;
            visibility: hidden;
            transform: translateX(-30px);
            width: 15px;
            margin-right: 10px;
        }
         &:hover {
             @extend %buttonColor;
             .button-call__img1 {
                 visibility: hidden;
                 transition: .7s;
             }
             .button-call__img2{
                 visibility: visible;
                 transition: .7s;
             }
         }
    }
@mixin scrollbars($size, $foreground-color, $background-color: mix($violet-light, white, 50%)) {
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      width: 5px;
      background: $violet-light4;
  }

  ::-webkit-scrollbar-track {
      background: $violet-light;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $violet;
    scrollbar-track-color: $violet-light;
  }
}

@include scrollbars(.2em, slategray);

