@import "./colors";
 $WBold:600;
 $Fzparagraph:12pt;
 $Opaciti:.5;
 $OpacitiLink:.7;
 $FZsmoll:10pt;
 $WidthButton:180px;
 $HeadSmool:13pt;
 $slow-speed:.7s;
 $fast-speed:.5s;
 $indent:10px;
 $WrapperPadding:40px;
@mixin scrollbars($size, $foreground-color, $background-color: mix($violet-light,white,50%)) {
    ::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        width: 5px;
        background: $light;
    }

    ::-webkit-scrollbar-track {
        background: $violet-light;
    }

    // For Internet Explorer
    body {
        scrollbar-face-color: $violet;
        scrollbar-track-color: $violet-light;
    }
}
@include scrollbars(.4em,slategray);

@mixin text {
    text-align: left;
    padding: 20px 0;
    margin: 0 20px;
    .wrapper {
        padding-bottom: 20px;
    }
    .paragraph {
        margin-bottom: $indent;
        line-height: 1.2;
        font-size: $Fzparagraph;
    }
}
@mixin violetSection {
    padding: 50px 0;
    background: $violet-darck;
    h2, h3, h4, h5, h6, a, p, li, ul {
        color: $light;
    }
}
@mixin headerDecorB {
        position: absolute;
        content: "";
        background: $violet-light4;
        width: 100%;
        height: 7px;
        transform: translateY(27px);
        z-index: -1;
}
@mixin link($color, $Fz, $opasiti) {
    position: relative;
    text-decoration: none;
    color: $color;
    font-size: $Fz;
    opacity: $opasiti;
    transition: $slow-speed;

    &:hover{
        opacity: 1;
    }
}
