@import '../global/colors';
@import '../global/helpers';
@import '../global/mixins';
@import '../global/flex';

.header{
    @include violetSection;
}
.menu {
    a {
        @include link($light, 13pt, 1);
        margin-right: 10px;
        @media (max-width: 1024px) {
            font-size: ($Fzparagraph - 2);
        }
        &::before {
            position: absolute;
            bottom: 0;
            content: "";
            background: $violet-light4;
            width: 100%;
            height: 7px;
            transform: scaleX(0);
            z-index: 1;
            transition: $slow-speed;
        }
        &:hover::before {
            transform: scaleX(1);
            transition: $slow-speed;
        }
    }
    & img {
        width: 17px;
        margin: 0px 10px 0px 0;
    }
}

.section-intro {
    @include social(-7px, 35px);
    @include violetSection;

    .wrapper {
        @include row;
        max-width: 800px;
        margin: 0 auto;

        .text{
            max-width: 350px;
            width: 100%;
        }

        .pic-gallery {
            max-width: 350px;
            width: 100%;
            max-height: 570px;
            overflow: hidden;

            @media (max-width: 768px){
                display: none;
            }

            & img {
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.section-gallery{
    .wrapper{
        @include row;
        justify-content: center;
    }
    &__inner{
        margin: 15px;

        @media (max-width: 768px){
            margin: 5px;
        }
        .photo-medium{
            @include photoGallery(350px, 350px);
        }
        .photo-big{
            @include photoGallery(350px, 460px);
        }
        .photo-smoll{
            @include photoGallery(350px, 230px);
        }
        .photo-medium-big{
            @include photoGallery(350px, 400px);
        }
        .photo-extralarge{
            @include photoGallery(350px, 520px);
        }

        & img{
            object-fit: cover;
            object-position: center;
            width: 100%;
        }

    }
}
