@import '../global/colors';
//Mixin________________________________________________

%violetBlock {
    background: $violet-darck ;
        h2, h3, h4, h5, h6,a, p, li, ul{
            color: $light;
    }
}

%buttonBorder {
    border: 2px solid $violet;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: transparent;
    color: $violet;
}

%buttonColor {
    border: 2px solid $violet;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: $violet;
    box-shadow: 0px 0px 30px 2px $color-shadow;
    color: $light;
    transition: .3s;
}

%row {
    display: flex;
    flex-direction: row;
}

%column {
    display: flex;
    flex-direction: column;
}
%headerDecorB{
   &::before {
        position: absolute;
        top: 34px;
        content: "";
        background: $violet-light2;
        width: 100%;
        height: 9px;
        z-index: -1;
    }
}
%headerDecorA{
    &::after {
        position: absolute;
        left: 0;
        bottom: 23px;
        content: "";
        background: $violet-light2;
        width: 100%;
        height: 9px;
        z-index: -1;
    }
    }
  .head {
      @extend %headerDecorB;
        font-size: 26pt;
        display: inline;
        position: relative;
        z-index: 2;
        margin-right: 15px;
    }
$WBold: 600;

//______________________________________________________

.head1::before{
    position: absolute;
    top: 53px;
    content: "";
    background: $violet-light2;
    width: 100%;
    height: 15px;
    z-index: -1;
}
.head1::after {
    position: absolute;
    left: 0;
    bottom: 3px;
    content: "";
    background: $violet-light2;
    width: 100%;
    height: 15px;
    z-index: -1;
}


.header__content, .nav-list, .header__numder {
    @extend %row;
    justify-content: space-between;
    align-items: center;

    .nav-list {
        a {
            position: relative;
            margin: 0 10px;

            &::after {
                position: absolute;
                left: -3px;
                bottom: 0px;
                content: "";
                background: $violet-light2;
                width: 110%;
                height: 7px;
                transform: scaleX(0);
                transition: .5s;
            }

            &:hover::after {
                transition: .5s;
                transform: scaleX(1);
            }
        }
        & img{
            width: 17px;
            margin: 0px 10px 0px 0;
        }
    }

    .header__numder a {
        margin: 0 10px;
        font-size: 11pt;
    }

    .button-call {
        @extend %buttonBorder;
        &__img1{
            position: relative;
            width: 15px;
            margin-right: 10px;
        }
        &__img2{
            position: absolute;
            visibility: hidden;
            transform: translateX(-30px);
            width: 15px;
            margin-right: 10px;
        }
         &:hover {
             @extend %buttonColor;
             .button-call__img1 {
                 visibility: hidden;
                 transition: .7s;
             }
             .button-call__img2{
                 visibility: visible;
                 transition: .7s;
             }
         }
    }

}

.section-info {

    &__content {
        @extend %row;
        padding-top: 50px;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        position: relative;
        font-size: 20pt;
        z-index: 2;
        display: inline-block;
    }

    &__subtitle {
        width: 55%;
        margin: 50px 0 80px 0;
    }

    .slogan p {
        font-size: 16pt;
        font-weight: $WBold;
    }

    .link-curses {
        padding: 20px 40px;
        @extend %buttonColor;
        &:hover{
           @extend  %buttonBorder;
            padding: 20px 40px;
            transition: .3s;
        }
    }
    &__link-social img{
        position: relative;
        top:100px;
        margin: 0 2px;
        width: 24px;
        height: 24px;
        opacity: 40%;
        transition: .5s;
        &:hover{
            opacity: 100%;
            transition: .5s;
        }
    }
    &__address{
        padding: 15px 0 0 0;
        position: relative;
        bottom: -100px;
        opacity: 40%;
    }

    &__picture img {
        float: right;
        width: 800px;
    }
}

.section-new{
    @extend %violetBlock;
    &__content{
       padding: 90px 0;


        &__advice{
            @extend %row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 50px;

            p{
                margin: 0 10px 0 0;
                opacity: 70%;
            }

            .advice__block{
                width: 400px;

                &-title{
                    font-weight: $WBold;
                    opacity: 100%;
                    padding-bottom: 20px;
                }
            }
        }
    }
    .news__content {
        @extend %row;
        background: $violet-light;

        &__info {
            padding: 40px;

            & p{
                padding-bottom: 20px;
            }
        }

        &__picture {
            @extend %row;

            & img {
                width: 300px;
                height: auto;

            }
        }
    }
}
